.profile_pic {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: #272d33;
}

.profile_pic>img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
}

.site_title {
    background-color: #272d33;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 22px;
    line-height: 59px;
    color: #ecf0f1;
    padding-top: 20px;
 
}
.profile_pic>p{ 
font-weight: 400;
font-size: 13px;
line-height: 30px;
color: #bab8b8;
padding: auto;
margin: 5px;

}
.profile_pic>h5{

    font-weight: 300;
    font-size: 14px;
    line-height: 15px;
    color: #ecf0f1;
    padding: 0px;
    margin: 0px;
}
.css-zxdg2z {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0px !important;
}
.logo_img{
    float: left;
    width: 93px;
    margin-top: 5px;
}
.header{
    padding-left: 15px;
}


  .grid-container {
  
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid white;

  
  }
  .css-1hsz34s-MuiDrawer-docked .MuiDrawer-paper {
    width: 240px;
    -webkit-transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    background-color: #272d33;
    overflow-y: hidden;
    overflow-x: hidden;
}
  #cars{
    width: 70%;
    height: 30px;
    padding: auto;
    background-color: #f7f7f7;
  }

  .grid-item {
    background-color: white;
    padding: 0px;
    text-align: top;
    justify-content: top;
  }

  .headline{
    color: rgb(79, 182, 79);
    padding-bottom: 7px;
    border-bottom: 1px solid #94A3B8;
    width: 100%;

  }
.individual{
    font-size: 13px;
    font-weight: 600;
}
  .css-10hburv-MuiTypography-root {
    margin: 0;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1;
    letter-spacing: 0.00938em;
    display: block;
    color: #f2f5f7;
}
  .css-cveggr-MuiListItemIcon-root {
    min-width: 56px;
    color: #f2f5f7;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;

}

.css-p55zm9-MuiButtonBase-root-MuiIconButton-root {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
    text-align: center;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 50%;
    overflow: visible;
    color: rgba(0, 0, 0, 0.54);
    -webkit-transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    margin-left: -12px;
    color: inherit;
    margin-right: 10px;
}

.css-p55zm9-MuiButtonBase-root-MuiIconButton-root {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
    text-align: center;
    flex: 0 0 auto;
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 50%;
    overflow: visible;
    color: #bd80a4 !important;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    margin-left: -12px;
    color: inherit;
    margin-right: 10px;
}

.all_forms_div_wrapper{
    display: flex;
    width: 100%;

}

.details_fill_wrapper{
    display: flex;
    width: 50%;
   
    justify-content: space-between;
    margin-top: 1rem;
}

.ot_text{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 12px;
    
color:#333333;
}

.input_div_wrapper{
    width: 50%;
  
}
.form_input_control{
    width: 70%;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color:#f7f7f7
    ;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control {
    color: #6a6d6f;
    background-color: #f7f7f7;
    border: 0px solid #ddd;
    border-radius: 3px;
    padding: 7px 15px;
    height: 37px;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.tbl_memberData{

    width: 100%;
}
.heading_row{
    background: #50a3bf!important;
}
.heading_row>th{
    text-align: left;
    padding: 8px;
    border-top: 1px solid #ddd;
    color: #fff;
    font-size: 14px;
}
.row_value_text>td{
    padding: 8px;
    border: 1px solid #ddd;
    margin: 0px;
    font-size: 14px;
    
}
/* .css-1wc0x9a-MuiToolbar-root {
    min-height: 64px;
    position: fixed;
    width: 100%;
} */